/* .grid {
  border: 1px solid black;
} */
.drop-box {
  background-color: white;
  position: relative;
  top: 100px;
  left: 70px;
  width: 280px;
  height: 300px;
  padding: 30px;
  box-shadow: 0 0 20px #6b6b6bb3;
  border-radius: 10px;
}
form {
  position: relative;
}
.invisible-input {
  position: absolute;
  display: none;
}

.file-add {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 8px;
}

.file-heading {
  position: absolute;
  top: 3px;
  left: 50px;
  font-size: larger;
  font-weight: 500;
}

.file-btn {
  text-decoration: underline;
  outline: none;
  border: none;
  background-color: white;
  position: absolute;
  top: 30px;
  left: 50px;
}

.file-input {
  position: relative;
  z-index: 2;
  opacity: 0;
  height: 50px;
  background-color: yellow;
  cursor: pointer;
}
.list-group {
  height: 200px;
  margin-bottom: 10px;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}
.panel {
  margin-top: 50px;
}
.thumbnail {
  height: 90px;
  width: 100px;
}
.list-group-item {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-right: 5px;
  background-color: #f4f4f4;
  padding: 10px;
}
.delete {
  opacity: 0;
}
.list-group-item:hover .delete {
  opacity: 1;
  color: rgb(72, 170, 228);
  outline: none;
  border: none;
  cursor: pointer;
  background: none;
  font-weight: 800;
  width: 30px;
}
