/* .grid {
  border: 1px solid black;
} */
.drop-box {
  background-color: white;
  position: relative;
  top: 100px;
  left: 70px;
  width: 300px;
  height: 300px;
  padding: 30px;
  box-shadow: 0 0 20px #6d6d6db3;
  border-radius: 10px;
}
form {
  position: relative;
}
.invisible-input {
  position: absolute;
  display: none;
}

.file-add {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 8px;
}

.file-heading {
  position: absolute;
  top: 3px;
  left: 50px;
  font-size: larger;
  font-weight: 500;
}

.file-btn {
  text-decoration: underline;
  outline: none;
  border: none;
  background-color: white;
  position: absolute;
  top: 30px;
  left: 50px;
}

.file-input {
  position: relative;
  z-index: 2;
  opacity: 0;
  height: 50px;
  background-color: yellow;
  cursor: pointer;
}
.list-group {
  height: 200px;
  margin-bottom: 10px;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}
.panel {
  margin-top: 50px;
}
.thumbnail {
  height: 90px;
  width: 100px;
}
.list-group-item {
  width: 100px;
  height: 200px;
}
